.header {
    display: inline-flex;
    width: 100%;
    background-color: black;
}

.menu li {
    display: table-cell;
    vertical-align: baseline;
    color: white;
    padding: 0px 20px;
    font-size: 22px;
    background-color: black;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background-color: gray;
    color: #101010;
}

.content {
    margin: 50px 250px 100px 250px;
}

p {
    text-indent: 1.5em;
    text-align: justify;
    font-size: 18px;
}

.leftimg {
    float: left;
    margin: 0px 20px 20px 0;
    height: 25%;
    width: 25%;
